body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.canvas {
    width: 259px;
    height: 321px;
    border: 1px solid black;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.espacioDisplay {
    width: 259px;
    height: 81px;
    background-color: #2B2C2F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 1em 5em;
    border-bottom-left-radius: 1em 5em; */
}

.display {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 1em 5em;
    border-bottom-left-radius: 1em 5em; */
    font-size: 47px;
    font-weight: 100;
    resize: none;
    background-color: inherit;
    text-align: right;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 30px;
    color: #EAE5DC;
}

.wrapperBotones {
    width: 259px;
    background-color: black;
    height: 240px;
    display: grid;
    grid-template-columns: 64.25px 64.25px 64.25px 64.25px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box {
    font-family: 'Open sans';
    background-color: #444;
    color: #fff;
    border-radius: 0px;
    width: 62px;
    height: 46px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: none; */
    text-decoration: none;
}

.box:active {
    /* border: none; */
    text-decoration: none;
    background-color: #C4C4C4;
}

.j {
    grid-area: 5/1/5/3;
    width: 124px;
    padding-left: 4px;
    /* grid-column: 1/3; */
    border-bottom-left-radius: 10px;
}

.btn-igual {
    border-bottom-right-radius: 10px;
}

.btn_negro {
    background-color: #3F4146;
}

.btn-naranja {
    background-color: #FE9F0E;
}

.btn-nums {
    background-color: #5E5F64;
}

.opSeleccionado {
    outline: 4px dotted #e73;
}